.cardStep {
  margin-bottom: 20px;
  border:2px solid rgba(255, 255, 255, 0.1);
}

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;  
  padding: 2rem 0;
}

.stepActive {
  color: white !important; 
  font-weight: bold;
  cursor: pointer;
}

.stepInactive {
  color: white !important; 
  font-weight: bold;
  cursor: pointer;
}

.ant-steps-item-title {
  font-weight: bold;
}

