/* Card container */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 0px 30px;
  background: #161617;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
}

/* Phần hình ảnh */
.groupImage {
  justify-content: center;
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageProduct {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Phần thông tin sản phẩm */
.groupInfo {
  flex: 1;
  align-items: center;
  justify-items: center;
  min-width: 0;
  width: calc(100% - 140px);
  padding-right: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

/* Tên sản phẩm */
.productName {
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  text-transform: capitalize;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* Chi tiết sản phẩm (Giá, số lượng) */
.productDetails {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.productDetails .price {
  color: #f1c40f;
  font-weight: bold;
  flex: 1;
}

.productDetails .quantity {
  color: #bdc3c7;
  font-weight: bold;
  flex: 1;
}

/* Hiển thị tổng tiền */
.sumProduct {
  font-weight: bold;
  font-size: 18px;
  color: #08ea79;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  width: 100%;
}

@media only screen and (max-width: 575px) {
  .cardContainer {
    flex-direction: column !important; /* Chuyển sang layout 1 cột */
    padding: 10px 10px;
    align-items: center; /* Căn giữa các phần tử trong card */
  }

  .groupImage {
    flex: 0 1 150px;
    margin-right: 0;
    margin-bottom: 10px;
    align-self: center;
    width: 150px; /* Tỉ lệ hình ảnh */
    height: 150px;
    margin-top: 10px;
  }

  .groupInfo {
    width: 100%;
    text-align: left; /* Căn trái thông tin */
    padding-right: 0; /* Loại bỏ padding nếu có */
  }

  .productName {
    font-size: 16px;
    text-align: left; /* Căn trái tên sản phẩm */
  }

  .productDetails {
    flex-direction: column;
    gap: 0px;
    text-align: left; /* Căn trái cho các chi tiết sản phẩm */
  }

  .sumProduct {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
