.cardCustom {
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  background: linear-gradient(70deg, #15919b, #09d1c7, #46dfb1 47%, #0c6478);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.cardContainer {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1.2fr) minmax(0, 1fr);
  gap: 20px;
  align-items: center;
  background: #161617;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

/* Cột 1 (Ảnh, checkbox, tên) */
.col1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leftRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.imageWrapper {
  border-radius: 10px;
  overflow: hidden;
}

.imageProduct {
  border-radius: 10px;
  width: 100px !important;
  height: 60px !important;
  object-fit: cover !important;
}

/* Tên sản phẩm có thể xuống dòng nếu hẹp */
.productName {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  word-break: break-word;
  /* Cho phép xuống dòng thoải mái */
}

/* Cột 2 (Đơn giá, số lượng) */
.col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.priceText {
  color: #46dfb1;
  font-weight: 700;
  font-size: 14px;
}

.quantityInput {
  width: 60px !important;
  justify-content: center;
  justify-items: center;
  text-align: center;
  justify-self: center;
  text-align: center !important;
  border-radius: 8px !important;
  font-weight: bold !important;
}

/* Cột 3 (Tổng, nút xóa) */
.col3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.totalText {
  font-weight: bold;
  font-size: 16px;
  color: #08ea79;
}

.deleteButton {
  background: #000;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteIcon {
  color: red;
  font-size: 18px;
  transition: color 0.3s;
}
.deleteIcon:hover {
  color: #ff4d4f;
}

/* Mobile <768px: chuyển về 1 cột */
@media only screen and (max-width: 425px) {
  .cardCustom {
    display: flex;
    justify-content: center;
  }
  .cardContainer {
    grid-template-columns: 2fr;
    min-width: 250px;
  }
  .col3 {
    align-items: flex-start;
  }
}
