.header-search {
  width: calc(100% - 2.5rem);
  max-height: 3.5rem;
  padding: 0.7rem 1rem;
}

.header-search:focus {
  border: none;
  outline: none;
}

.button-account:hover .icon-account,
.button-account:hover .icon-expand,
.button-account:hover .text-account {
  color: #2dd4bf;
}

.button-cart:hover .icon-cart,
.button-cart:hover .text-cart {
  color: #2dd4bf;
}





