:root {
  --border-color: #2daab6;
  --pimary-grey: #f3f4f6;
}

.bg-container {
  background-image: url("../assets/background.JPG");
  background-size: cover;
}
@media (min-width: 320px) {
  .sort-section {
    padding-top: 0rem;
    margin-top: 0.1rem;
  }
  .product-section {
    margin-top: 1rem;
  }
  .product-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .banner {
    display: none;
  }
  @keyframes deal {
    0% {
      transform: translate(0, 100vh);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  .product-card {
    animation: deal 1.5s ease-in-out forwards;
    opacity: 0;
  }
}

@media (min-width: 580px) {
  .sort-section {
    padding-top: 0rem;
    margin-top: 0rem;
  }
  .product-section {
    margin-top: 1rem;
  }
  .product-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .banner {
    display: none;
  }

  @keyframes deal {
    0% {
      transform: translate(0, 100vh);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  .product-card {
    animation: deal 1.5s ease-in-out forwards;
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .sort-section {
    margin-top: 0rem;
  }
  .product-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .countdown-container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .product-container {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .product-card {
    animation: deal 1.5s ease-in-out forwards;
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .sort-section {
    margin-top: 1rem;
  }
}

@media (min-width: 1174px) {
  .sort-section {
    margin-top: 1.5rem;
  }
  .product-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .countdown-container {
    border-radius: 0px;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .product-container {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner {
    width: 7rem;
    height: 24rem;
    display: block;
  }
}

@media (min-width: 1440px) {
  .sort-section {
    margin-top: 1.1rem;
  }
  .product-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .countdown-container {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .product-section {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .product-container {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner {
    width: 13.5rem;
    height: 36rem;
    display: block;
  }
}

@media (min-width: 1920px) {
  .product-section {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .product-container {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .product-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .countdown-container {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .banner {
    width: 13.5rem;
    height: 36rem;
    display: block;
  }
}

.sort-section {
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (min-width: 1024px) {
  }

  .sort-buttons {
    display: flex;
    overflow-x: auto;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    .sort-button {
      display: flex;
      height: 2rem;
      font-weight: 600;
      min-width: 9.5rem;

      font-size: 0.875rem;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      border-radius: 1rem;
      margin-left: 2%;
      margin-top: 1rem;
      position: relative;
      z-index: 1;

      color: #505050;

      transition: color 0.3s, border-color 0.3s;

      &.unselected {
        background-color: #303030;
        color: #bfbfbf;
      }
      &.selected {
        color: #2daab6 ;
        background-color: rgba(30, 30, 30, 1);
       
      }

      @media (min-width: 1024px) {
        margin-top: 0;
        margin-right: 0.5rem;
        margin-left: 0;
      }
    }

    .active-background {
      position: absolute;
      height: 100%;
      min-width: 9.5rem;
      background-color: var(--border-color);
      border-radius: 0.95rem;
      transition: transform 0.7s ease, width 0.3s ease;
      z-index: 0;

      @media (min-width: 375px) {
        height: 2rem;
        margin-top: 1rem;
        margin-right: 0.5rem;
        margin-left: 0;
      }
      @media (min-width: 1024px) {
        margin-top: 0;
        margin-right: 0.5rem;
        margin-left: 0;
      }
      @media (min-width: 1440px) {
        margin-top: 0;
        margin-left: 0;
      }
    }
  }
}

.product-card {
  height: 17rem;
  width: 12rem;
  border-radius: 1.6rem;
  backdrop-filter: blur(30px);
  background-color: rgba(30, 30, 30, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: relative;
  overflow: visible;
  backdrop-filter: blur(20px);

  @media (max-width: 1024px) {
    height: 16rem;
    width: 11rem;
  }

  .image-wrapper {
    display: block;
    height: 100%;
    width: 100%;
    overflow: visible;

    img {
      transition: transform 0.7s ease-in-out;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .text-content {
    transform: translateY(-0.5rem);
    h2 {
      white-space: nowrap;
      overflow: hidden;
      padding-top: 0.5rem;
      margin: 0rem 0.5rem 0;
      font-weight: 600;
      font-size: 20px;
      color: #fff;
    }

    p {
      display: flex;
      align-items: center;
      margin: 0rem 0.5rem 0;
      font-family: monospace;
      font-size: 16px;
      color: #cfefeb;
      

      .line-through {
        text-decoration: line-through;
        font-weight: 800;
        text-decoration-color: #e90808;
      }
    }
  }

  .single-image {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    height: 55.5%;
    width: 100%;
    overflow: hidden;
    transform: scale(0.9);
    &:hover {
      transform: scale(0.9);
    }
  }

  .four-images {
    display: grid;
    border-top-left-radius: 1.7rem;
    border-top-right-radius: 1.7rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 0.5rem;
    height: 53%;
    width: 90%;
    margin: 0.6rem;
    overflow: hidden;

    @media (max-width: 1024px) {
      border-top-left-radius: 2.5rem;
      border-top-right-radius: 2.5rem;
      height: 52%;
    }
  }

  .discount {
    font-weight: 600;
    bottom: 0;
    right: 0;
    background-color: #e90808;

    color: white;
    text-align: center;
    padding: 0rem 0.3rem;

    border-radius: 1rem;

    font-size: 0.9rem;

    @media (max-width: 1024px) {
      font-size: 0.875rem;
    }

    .flex {
      display: flex;
      padding: 0 0.25rem;
      gap: 0.25rem;
      align-items: center;
    }
  }

  .add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 90%;
    gap: 0.5rem;
    background-color: rgba(30, 30, 30, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(20px);

    color: #f0f6f5;
    font-weight: 500;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;
    margin-top: 1.5rem;

    @media (max-width: 1024px) {
      height: 2.2rem;
      font-size: 0.875rem;
    }

    svg {
      font-size: 1rem;
    }
  }

  &:hover .single-image {
    transition: all 0.5s ease;
  }
}



.ant-pagination-item a {
  color: #fff !important;
}

.ant-pagination-item-active {
  background-color: rgba(30, 30, 30, 1) !important;
  border-width: 0px !important;
  border-radius: 20% !important;
}

.ant-pagination-item-active a {
  color: #2daab6 !important;
}

/* Đổi màu chữ của pagination item khi hover */
.ant-pagination-item:hover a {
  color: #2daab6 !important;
}

/* Đổi màu của mũi tên prev và next */
.ant-pagination-prev,
.ant-pagination-next {
  color: #fff !important; /* Màu mặc định của mũi tên */
}

/* Đổi màu của icon mũi tên prev và next */
.ant-pagination-prev .anticon,
.ant-pagination-next .anticon {
  color: #fff !important; /* Màu mặc định của icon mũi tên */
}

/* Đổi màu của mũi tên khi hover */
.ant-pagination-prev:hover,
.ant-pagination-next:hover {
  color: #2daab6 !important;
}

.ant-pagination-prev:hover .anticon,
.ant-pagination-next:hover .anticon {
  color: #2daab6 !important;
}

.type-blur {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}
