#rotate-message.visible {
  display: flex;
}

.product-description h2 {
  color: #1a202c;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
}

.product-description p {
  margin-bottom: 1em;
  line-height: 1.6;
}

.product-description li {
  font-size: 1.2rem;
  color: #4a5568;
}
.product-description ul {
  margin-left: 1em;
  list-style-type: disc;
}

.product-description ul li {
  margin-bottom: 0.5em;
}


  