@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Jaro:opsz@6..72&family=Lobster&family=Rowdies:wght@300;400;700&display=swap");

.navbar {
  color: #f8f7f9;

  .wrapper {
    max-width: 2700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    z-index: 1000; /* Ensure it's above other elements */

    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 0px;

      a {
        display: inline-block;
      }
    }

    .icon {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      transition: transform 0.2s;
      color: #666666;
      &:hover {
        transform: scale(1.1);
      }
    }

    .zalo-icon {
      width: 45px;
      height: 35px;
      margin-right: 20px;
      transition: transform 0.2s;
      color: #666666;

      &:hover {
        transform: scale(1.1);
      }
    }
    .top-text {
      font-size: 25px;
    }
  }

  @media (max-width: 480px) {
    .wrapper {
      height: 62px;
      .icon {
        width: 30px;
        height: 30px;
      }
      .zalo-icon {
        width: 33px;
        height: 33px;
      }

      .top-text {
        font-size: 18px;
      }
    }
  }
  .sort-section {
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }

  .sort-section::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
}

/* MyComponent.module.css */
.gradientText {
  background: linear-gradient(
    90deg,
    #95cbc4,
    #b4c2c2,
    #f1f1f1,
    #5f9ea0,
    #66cdaa,
    #5f9ea0,
    #f1f1f1,
    #b4c2c2,
    #95cbc4
  );
  background-size: 400% 400%;
  color: #141414;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: rotateGradient 10s 1s infinite;
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animatedText {
  position: relative;
  color: transparent;
  padding: 5px 10px;
  animation: displayText 18s infinite; /* Slowed down */
  animation-delay: calc(var(--i) * -6s); /* Adjusted for slower animation */
}

.animatedText::before {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  width: 0;
  height: 3.2rem;
  color: #0a6c62;
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid #0a6c62;
  padding: 5px 10px;
  animation: animates 5s linear reverse infinite; /* Slowed down */
}

@keyframes animates {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

@keyframes displayText {
  0%,
  25% {
    display: inline-block;
  }
  26%,
  100% {
    display: none;
  }
}
