.navbar {
    color: #f8f7f9;
  
    .wrapper {
      max-width: 2500px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      background-color: #111111;
      z-index: 1000; /* Ensure it's above other elements */
  
      span {
        font-weight: bold;
      }
  
      .social {
        display: flex;
        gap: 0px;
  
        a {
          display: inline-block;
        }
      }
  
      .icon {
        width: 35px;
        height: 35px;
        margin-right: 10px;
        transition: transform 0.2s;
  
        &:hover {
          transform: scale(1.1);
        }
        
      }
      
      .zalo-icon {
        width: 45px;
        height: 35px;
        margin-right: 20px;
        transition: transform 0.2s;
  
        &:hover {
          transform: scale(1.1);
        }
        
      }
      .top-text {
        font-size: 25px;
      }
    }

    @media (max-width: 480px) {
      .wrapper {
        height: 62px;
        .icon{
          width: 30px;
          height: 30px;
        }
        .zalo-icon {
          width: 33px;
          height: 33px;
        }
  
        .top-text {
          font-size: 18px;
        }
      }
    }
  }
  