.slidebar {
  display: flex;
  color: #000000;

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    background: #ffffff;
    z-index: 999;

    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      z-index: 999;

      .links-item {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: fixed;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
  }


  @media (max-width: 480px) {
    .bg {
      width: 250px;

      .links {
        .links-item {
          font-size: 26px;
        }
      }
    }

    button {
      width: 30px;
      height: 30px;
    }
  }
}
