.custom-footer {
  background-color: rgba(30, 30, 30, 1);
  color: #fff;
  padding-top:1.25rem;
  position: relative;
  overflow: hidden;
  font-weight: 500;
}

.footer-content {
  margin: 0 0;
}

.footer-title {
  color: #fff !important;
  position: relative;
  margin-bottom: 20px !important;
}

.footer-title::after {
  content: "";
  width: 50px;
  height: 3px;
  background: #09D1C7;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.footer-link,
.footer-text {
  color: #bfbfbf !important;
  font-size: 16px;
  transition: color 0.3s;
  cursor: default;
}


.highlight-text,
.highlight-icon {
  color: #09D1C7;
}
.footer-divider {
  background-color: #707070;
  height: 2px;
  margin: 20px 0;
}

.footer-copy {
  font-weight: 700;
  text-align: center;
  color: #707070;
}

@media (max-width: 1024px) {
  .footer-title::after {
    width: 30px;
  }
  .custom-footer{
    padding-bottom: 6rem;
  }
}

@media (max-width: 425px) {
  .custom-footer{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.social-icon {
  margin-right: 10px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #1890ff;
}

.footer-text .ant-typography-copy {
  color: #09D1C7;
}

/* Nếu biểu tượng copy là một SVG, cần thay đổi thuộc tính fill */
.footer-text .ant-typography-copy svg {
  fill: #09D1C7;
}

/* Thay đổi màu khi hover vào nút copy */
.footer-text .ant-typography-copy:hover {
  color: #1a7a80;
}
